__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled Python files
*.py[cod]

# Log files
*.log

# Virtual environment files
.venv/
env/

# IDE files
.vscode/
.idea/

# Docker files
docker-compose.yml

# Other files
.env